{% extends 'base.html' %}
{% block title %}{{ post.name }}{% endblock title %}
{% block content %}
    <div class="card shadow-sm mx-auto" style="max-width: 800px;">
        <div class="card-body">
            <h3 class="card-title text-primary">{{ post.name }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Muallif: {{ post.author }}</h6>
            
            <!-- Test uchun vaqt ko'rsatish -->
            <p class="text-info font-weight-bold mb-3" style="font-size: 1rem;">
                Test uchun vaqt: {{ post.time }} soat
            </p>
            
            <p class="card-text mt-3">{{ post.summary }}</p>
            <div class="card-footer bg-light">
                <div>
                    <p class="card-text">
                        <span class="text-secondary d-block mb-2" style="font-size: 0.9rem;">
                            Ushbu kod orqali testga kirish mumkin, shuning uchun koddan nusxa olib saqlab qo'ying!
                        </span>
                        <pre class="p-3 bg-dark text-warning rounded"><code id="myCode">{{ post.code }}</code></pre>
                    </p>
                    <button class="btn btn-outline-primary btn-sm" onclick="copyText()">Nusxa Olish</button>
                </div>
            </div>
            <br>
            <div class="d-flex gap-2">
                {% if post.is_end == False and post.is_start == True %}
                    <a href="solve/" class="btn btn-success btn-sm">Yechish</a>
                {% endif %}
                {% if post.author == user or post.is_end == True %}
                    <a href="result/" class="btn btn-info btn-sm">Natija</a>
                {% endif %}
                {% if post.author == user and post.is_start == False %}
                    <a href="add/" class="btn btn-secondary btn-sm">Savol qo'shish</a>
                    <a href="/test/{{post.code}}/?start=True" class="btn btn-warning btn-sm">Testni saqlash va boshlash</a>
                {% endif %}
                {% if post.author == user and post.is_start == True %}
                    <a href="/test/{{post.code}}/?finish=True" class="btn btn-dark btn-sm">Testni to'xtatish</a>
                {% endif %}
                {% if post.author == user %}
                    <a href="delete/" class="btn btn-danger btn-sm">O'chirish</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function copyText() {
            var codeElement = document.getElementById("myCode");
            var range = document.createRange();
            range.selectNode(codeElement);
            window.getSelection().removeAllRanges(); // Avvalgi tanlashlarni tozalash
            window.getSelection().addRange(range);
            document.execCommand("copy");
            alert("Matn nusxa olindi: " + codeElement.textContent);
            window.getSelection().removeAllRanges(); // Tanlashni tozalash
        }
    </script>
{% endblock content %}
